* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(152, 198, 255, 0.459), rgba(0, 53, 133, 0.6) );
    font-family: sans-serif;
}

.conteudo {
    padding: 2rem;
}

.nome {
    text-align: center;
    color: rgb(0, 53, 133);
}

.autobiografia {
    padding: 1rem;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
}

.btn-mensagem {
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 53, 133);
    transition: ease-in-out 0.3s;
}

.btn-mensagem:hover {
    color: black;
    background-color: rgba(80, 141, 255, 0.562);
}

.mensagem-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 2rem;
}

.mensagemClick {
    font-size: 16px;
    padding: 1rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    background-color: rgba(80, 141, 255, 0.162);
    width: 100vw;
}

.esconder {
    display: none;
}

.hobbys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}

.imagem-hobby {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.table-conteudo {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

table {
    border-collapse: collapse;
}

caption {
    font-size: 24px;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 3px;
}

th {
    border: solid;
    border-width: 3px 0px 0px 0px;
    border-color: rgba(80, 141, 255, 0.562);
    background-color: rgba(80, 141, 255, 0.162);
    padding: 1rem;
}

th:first-child {
    border-bottom-left-radius: 12px;
}

th:last-child {
    border-bottom-right-radius: 12px;
}

td {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    height: 250px;
    width: 150px;
    position: relative;
}

.pais-texto {
    position: absolute;
    left: 0px;
    top: 40%;
    color: white;
    text-align: start;
    background-color: rgb(4, 37, 99);
    padding: 1rem;
    width: 100%;
}

.tabela-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 5px 0px 0px 5px;
    object-fit: cover;
    display: block;
}

a {
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.829);
}

.site-interesse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgb(4, 37, 99);
}